body{
    background: #72d0e6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.align-right {
    display: flex;
    justify-content: flex-end;

}

.align-right button{
    margin-top: 30px;
}